body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#contenu{
    max-width: 290px;
    width: 100%;
    height: 100%;
    margin: auto;
}

h1{
    text-align: center;
    width: 100%;
}
#messages{
    overflow-y: auto;
    height: 269px;
    border: 1px solid black;
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
}
#boutons{
    max-width: 312px;
    width: 100%;
    margin: auto;
}

input{
    width: 50%;
}
button{
    width: 35%;
    text-align: center;
}

.name{
    font-weight: bold;
}
.message{
    margin-top: -18px;
}
